* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  background: transparent;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 400;
}

input {
  border: none;
}

input::-moz-placeholder {
  color: black;
}

input::placeholder {
  color: black;
}

input:focus {
  border: 1px solid black;
}

b, strong {
  font-weight: 400;
}

li {
  list-style: none;
}

.background-img__one {
  padding: 30px 0 0 42px;
  background: url(/photo/background1.png) no-repeat center/cover;
  width: 100%;
  height: 1429px;
}

.nav {
  display: flex;
  align-items: center;
}
.nav-liner {
  position: absolute;
  width: 166px;
  height: 20px;
  opacity: 0.4;
  top: 60px;
}
.nav-logo {
  display: flex;
  text-align: center;
  align-items: center;
}
.nav-logo__txt {
  width: 110px;
  color: white;
  font-weight: 900;
  font-size: 23px;
  line-height: 81%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-top: 15px;
  margin-left: 10px;
}
.nav-items {
  display: flex;
  gap: 30px;
}
.nav-items-link__list {
  text-transform: uppercase;
  margin-left: 110px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
}

.right-block {
  position: absolute;
  left: 93%;
  display: flex;
  place-items: center;
}

.search-img {
  margin-right: 40px;
}

.line-scrol {
  transform: rotate(90deg);
  width: 250px;
  height: 2.001px;
  position: absolute;
  left: -58px;
  top: 465px;
}
.line-scrol__red {
  width: 4.002px;
  height: 100px;
  flex-shrink: 0;
  background: #DD2242;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.45);
  margin-top: 165px;
  margin-left: 23px;
}

.block-scrol__left {
  width: 100px;
  height: 50px;
}

.scrol-number {
  width: 17px;
  height: 21.011px;
  transform: rotate(-90deg);
  flex-shrink: 0;
  color: #FFF;
  /* Shadow Light */
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 316px;
  margin-left: 23px;
  margin-bottom: 500px;
}

.txt-month {
  width: 131px;
  height: 21.011px;
  transform: rotate(-90deg);
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  margin-top: 35px;
  margin-left: -25px;
}

.block-main__right {
  margin: 100px 0 0 465px;
}

.explore-logo {
  color: #FFF;
  /* H1 */
  font-family: Roboto;
  font-size: 120px;
  font-style: normal;
  font-weight: 900;
  line-height: 130px;
  /* 108.333% */
  text-transform: uppercase;
  margin-bottom: 47px;
  margin-top: -30px;
}

.start-travelling {
  display: flex;
  width: 271.141px;
  height: 82px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 211px;
  background-color: #DD2242;
  color: white;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.reviews-info {
  display: flex;
  margin-top: 446px;
  width: 1650px;
  height: 227px;
  border: 1px solid #000;
  opacity: 0.6;
  background: #000;
}

.number-reviews {
  width: 32.017px;
  height: 19px;
  flex-shrink: 0;
  color: #DD2242;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.title-here {
  width: 121.063px;
  color: #FFF;
  /* H4 */
  font-family: "DM Sans";
  font-size: 26.409px;
  font-style: normal;
  font-weight: 700;
  line-height: 41.081px;
  /* 155.556% */
}

.lorem-ipsum {
  width: 210.109px;
  height: 46px;
  flex-shrink: 0;
  color: #939393;
  font-feature-settings: "clig" off, "liga" off;
  /* Paragraph Light */
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: 0.5px;
}

.review-youtube {
  position: relative;
  background-image: url(/photo/hussan-amir-h0DK5BIGBEg-unsplash\ 2\ \(6\).svg);
  width: 417.217px;
  height: 254px;
  flex-shrink: 0;
  left: 1617px;
  top: -254px;
}

.reviews {
  margin: 41px 150px 0 71px;
}

.background-img__two {
  background: url(/photo/background-img__two.jpg) no-repeat center/cover;
  height: 2000px;
  padding: 350px 300px 250px 350px;
}
.background-img__two-box {
  display: flex;
  margin-bottom: 450px;
}
.background-img__two-img {
  width: 630.343px;
  height: 460px;
  flex-shrink: 0;
  border-radius: 10px;
  margin-right: 30%;
}
.background-img__two-img__right {
  width: 630.343px;
  height: 460px;
  flex-shrink: 0;
  border-radius: 10px;
  margin-left: 30%;
  margin-bottom: 5px;
}
.background-img__two-walkways {
  width: 479.501px;
  height: 119.949px;
  flex-shrink: 0;
  color: white;
  font-family: "DM Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}
.background-img__two-lorem {
  width: 407.575px;
  height: 83.964px;
  flex-shrink: 0;
  color: var(--Text-Lighten, #E0E0E0);
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.18px;
  margin-bottom: 35px;
}
.background-img__two-button {
  display: flex;
  width: 179.813px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 32px;
  background: #DD2242;
  color: var(--Neutral-White, #FFF);
  text-align: center;
  /* CTA */
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 27px */
}

.background-img__thre {
  background: url(/photo/background3.jpg) no-repeat center/cover;
  height: 2976px;
  padding: 127PX 0 0 0;
}
.background-img__thre-txt {
  display: flex;
  width: 615.361px;
  height: 52.167px;
  margin-left: 38%;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 100px;
}
.slider {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
.slider-button__left {
  transform: rotate(180deg);
}

.slider-circle {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 355px;
}
.slider-circle__grey {
  color: #939393;
  height: 100px;
  width: 100px;
  border-radius: 30%;
}
.background-img__thre-footer {
  margin-top: 1548px;
  width: 100%;
  height: 794px;
  flex-shrink: 0;
  opacity: 0.9;
  background: #020C21;
  padding: 201px 323px 224px 322px;
}

.the-numbers {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 700.361px;
  height: 52.167px;
  color: white;
  font-size: 60px;
  font-weight: 700;
  line-height: 150%;
}

.lorem-ipsum__thre {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 700px;
  margin-top: 36px;
  width: 484px;
  height: 102px;
  flex-shrink: 0;
  color: var(--Text-Lighten, #E0E0E0);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Paragraph Light */
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: 0.5px;
}

.numbers-and-lorem {
  display: flex;
  justify-content: center;
  text-align: center;
}

.number-and-lorem {
  display: flex;
  gap: 450PX;
  margin-top: 35PX;
}

.lorem-ipsum__dolar {
  width: 340.611px;
  height: 70.229px;
  flex-shrink: 0;
  color: var(--Text-Lighten, #E0E0E0);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Paragraph Light */
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: 0.5px;
}

.number {
  margin-left: 100PX;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 137px;
  height: 49px;
  flex-shrink: 0;
  color: #DD2242;
  text-align: center;
  font-family: "DM Sans";
  font-size: 42.137px;
  font-style: normal;
  font-weight: 700;
  line-height: 49.16px;
  /* 116.667% */
  letter-spacing: 0.386px;
}

.background-four {
  background: url(/photo/background4.png) no-repeat center/cover;
  padding: 249px 648px 257px 658px;
  background-color: white;
  width: 100%;
  height: 794px;
}
.background-four__section {
  text-align: center;
}
.background-four__txt {
  color: #000;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* H3 */
  font-family: "DM Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  /* 119.048% */
  margin-bottom: 32px;
}
.background-four__lorem {
  color: var(--Paragraph-Dark, #6F7787);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Paragraph Light */
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: 0.5px;
  margin-bottom: 36px;
}
.background-four__button {
  color: var(--Neutral-White, #FFF);
  text-align: center;
  /* CTA */
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 27px */
  width: 210px;
  height: 64px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 122px;
  background: #DD2242;
}

.section-five {
  background: url(/photo/background5.jpg) no-repeat center/cover;
  width: 100%;
  height: 1476px;
  padding: 141px 285px 225px 360px;
}
.section-five__life {
  text-align: center;
  height: 142.643px;
  flex-shrink: 0;
  color: var(--Colors-White, #FFF);
  margin-bottom: 67px;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}
.section-five__life-youtube {
  width: 1056px;
  height: 594px;
  flex-shrink: 0;
}
.section-five__life-youtube-button {
  width: 96px;
  height: 96.01px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--Action-Third, #E93A7D);
  position: absolute;
  left: 50%;
}

.video-info {
  margin-top: 125px;
  display: flex;
  justify-content: center;
}
.video-info__block {
  display: flex;
}

.the-country {
  color: var(--Colors-White, #FFF);
  /* CTA */
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 27px */
}

.section-six {
  padding: 177px 372px 229px 378px;
  width: 100%;
  height: 1388px;
  flex-shrink: 0;
}
.section-six__photo-gallery {
  display: flex;
  height: 52.167px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--Blue---Background, #010A20);
  text-align: center;
  font-family: "DM Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.lorem-ipsum__six {
  margin: 42px 0 71px 0;
  height: 47px;
  flex-shrink: 0;
  color: var(--Paragraph-Dark, #6F7787);
  text-align: center;
  /* Paragraph */
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  letter-spacing: 0.18px;
}

.photo-gallery {
  display: flex;
  justify-content: center;
  height: 770px;
}
.photo-gallery__section {
  margin-right: 30px;
}

.section-seven {
  padding: 119px 392px 117px 700px;
  width: 100%;
  height: 1388px;
  flex-shrink: 0;
  background: #DCE8F2;
}
.section-seven__getting {
  margin-bottom: 60px;
  width: 615px;
  height: 76px;
  flex-shrink: 0;
  color: #010A20;
  /* H2 */
  font-family: "DM Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 90px */
}
.section-seven__button {
  display: flex;
  width: 210px;
  height: 64px;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 122px;
  background: #DD2242;
  color: var(--Neutral-White, #FFF);
  text-align: center;
  margin-top: -100px;
  margin-left: 80px;
  /* CTA */
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 27px */
}
.section-seven__main {
  display: flex;
}
.section-seven__main-golo {
  color: var(--Blue---Background, #010A20);
  /* H4 */
  font-family: "DM Sans";
  font-size: 26.409px;
  font-style: normal;
  font-weight: 700;
  line-height: 41.081px;
  /* 155.556% */
  margin-bottom: 25px;
}

.lorem-seven {
  margin-bottom: 100px;
  width: 1038.758px;
  height: 114.439px;
  flex-shrink: 0;
  color: var(--Light-Text, rgba(21, 20, 57, 0.4));
  font-family: "DM Sans";
  font-size: 23.475px;
  font-style: normal;
  font-weight: 400;
  line-height: 38.146px;
  /* 162.5% */
}

.number-info {
  color: var(--White, #FFF);
  text-align: center;
  font-size: 26.409px;
  font-style: normal;
  font-weight: 500;
  line-height: 38.146px;
  /* 144.444% */
  width: 50px;
  height: 100px;
  padding: 5px 13px;
  border-radius: 30px;
  background: #DD2242;
  margin-right: 50px;
}

.footer {
  display: flex;
  width: 100%;
  height: 136px;
  background: var(--Blue---Background, #010A20);
  padding: 39px 153px 32px 70px;
}
.footer-items {
  display: flex;
  text-align: center;
  gap: 100px;
  align-items: center;
}
.footer-items-link__list {
  color: var(--Main-White, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.5px;
}

.internet-info {
  margin-left: 1030px;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 35px;
}

.icon-internet {
  width: 35x;
  height: 25px;
}

.copyright {
  display: flex;
  color: var(--Main-White, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.5px;
  align-items: center;
  margin-left: 100px;
}

.button-scroll {
  position: absolute;
  left: 90%;
  top: 897%;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 375px) {
  .nav {
    justify-content: space-between;
    width: 375px;
    height: 1104px;
  }
}